:root {
  --color-primary: #2b87ff;
  --color-text: #fff;
  --color-background: #212121;
  --color-background-dark: #1b1b1b;
  --max-page-width: 1200px;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  color: var(--color-text);
  background-color: var(--color-background);
  font-family: sans-serif;
}

a {
  color: var(--color-primary);
  text-decoration: none;
  font-weight: bold;
}
